.page__comic {
  .comic__card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 15px;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-img {
      margin-right: 50px;
    }
    &-info {
      text-align: end;
    }
    &-resources {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px 20px;
    }
    &-resource {
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
      .css-uls1yk-MuiDivider-root {
        background-color: red;
        height: 2px;
        margin-left: 0;
      }
      .css-10hburv-MuiTypography-root {
        padding-left: 10px;
      }
      .css-83ijpv-MuiTypography-root {
        padding: 0 10px;
        max-width: 280px;
        word-break: break-word;
        a {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .page__comic {
    .comic__card-info {
      max-width: 300px;
      width: 100%;
    }
    .comic__card-resources {
      display: block;
      margin-right: 10px;
    }
    .comic__card-resource {
      padding: 0 4px;
      .css-uls1yk-MuiDivider-root {
        width: 0%;
      }
      .css-83ijpv-MuiTypography-root {
        max-width: 500px;
      }
    }
    .comic__card-img {
      margin-right: 20px;
      max-width: 250px;
      img {
        width: 100%;
      }
    }
    .comic__card-resource + .comic__card-resource {
      margin-top: 20px;
    }
  }
}

@media (max-width: 450px) {
  .page__comic {
    .comic__card-header {
      display: block;
    }
    .comic__card-img {
      margin-left: auto;
      margin-right: auto;
    }
    .comic__card-info {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 370px;
    }
  }
}