.menu {
  background-color: rgba(236, 9, 9, 0.78);
  margin-bottom: 15px;
  .MuiContainer-root {
    display: flex;
    justify-content: space-around;
    padding: 5px 15px;
  }
  &__item {
    text-decoration: auto;
    font-family: 'Poppins', sans-serif;
    padding: 6px 10px;
    border-radius: 10px;
    transition: .3s all;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: black;
    }
  }
  &__adaptive {
    display: none;
  }
}

@media (max-width: 550px) {
  .menu {
    &__adaptive {
      display: block;
    }
    &__item {
      display: none;
      &-adaptive {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 6px 10px;
      }
    }
    .css-10hburv-MuiTypography-root {
      text-align: center;
      color: white;
    }
    .css-13eg511-MuiButtonBase-root-MuiListItemButton-root {
      display: grid;
      padding: 0;
      text-align: center;
    }
  }
}