.menu {
  background-color: rgba(236, 9, 9, 0.78);
  margin-bottom: 15px;
  .MuiContainer-root {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
  }
  &__item {
    text-decoration: auto;
    font-family: 'Poppins', sans-serif;
    padding: 6px 10px;
    border-radius: 10px;
    transition: .3s all;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: black;
    }
  }
}