.page__singleSeries {
  .singleSeries__card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-img {
      margin-right: 50px;
    }
    &-info {
      text-align: end;
    }
    &-resources {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px 20px;
    }
    &-resource {
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
      .css-uls1yk-MuiDivider-root {
        background-color: red;
        height: 2px;
        margin-left: 0;
      }
      .css-10hburv-MuiTypography-root {
        padding-left: 10px;
      }
    }
  }
}