.page__character {
  .character__card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &-img {
      margin-right: 50px;
    }
    &-info {
      text-align: end;
    }
    &-resources {
      display: flex;
      justify-content: space-between;
      grid-gap: 10px;
    }
    &-resource {
      border: 2px solid black;
      border-radius: 5px;
      width: 100%;
      .css-uls1yk-MuiDivider-root {
        background-color: red;
        height: 2px;
        margin-left: 0;
      }
      .css-10hburv-MuiTypography-root {
        padding-left: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  .page__character {
    .character__card-info {
      max-width: 300px;
      width: 100%;
    }
    .character__card-resources {
      display: block;
      margin-right: 10px;
    }
    .character__card-resource {
      padding: 0 4px;
      .css-uls1yk-MuiDivider-root {
        width: 0%;
      }
    }
    .character__card-img {
      margin-right: 20px;
      max-width: 250px;
      img {
        width: 100%;
      }
    }
    .character__card-resource + .character__card-resource {
      margin-top: 20px;
    }
  }
}

@media (max-width: 450px) {
  .page__character {
    .character__card-header {
      display: block;
    }
    .character__card-img {
      margin-left: auto;
      margin-right: auto;
    }
    .character__card-info {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 370px;
    }
  }
}