.page__character {
  .character__card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
    &-header {
      display: flex;
      justify-content: space-between;
    }
    &-img {
      margin-right: 50px;
    }
    &-info {
      text-align: end;
    }
  }
}