.card__comics {
  .css-r40f8v-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 18px;
  }
  .css-h93ljk-MuiTypography-root {
    font-size: 18px;
    font-family: 'Courgette', cursive;
  }
  a {
    text-decoration: none;
    color: black;
  }
}