.card__comics {
  .css-r40f8v-MuiTypography-root {
    line-height: 23px;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 72px;
    height: 100%;
  }
  .css-h93ljk-MuiTypography-root {
    font-size: 18px;
  }
}