.header {
  background-color: black;
  padding: 15px 0px;
  .MuiContainer-root {
    display: flex;
    justify-content: space-between;
  }
  &__actions {
    align-self: center;
    .MuiInput-root {
      background-color: white;
      padding: 5px;
      border-radius: 8px;
    }
    .MuiButton-root {
      margin-left: 15px;
      padding: 8px 15px;
    }
  }
}
@media (max-width: 530px) {
  .header {
    .MuiContainer-root {
      display: block;
      text-align: center;
    }
    &__actions {
      margin-top: 15px;
    }
  }
}

@media (max-width: 354px) {
  .header {
    &__actions {
      .MuiButton-root {
        margin-top: 15px;
        margin-left: 10px;
      }
    }
  }
}
