.card__story {
  .css-h93ljk-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .css-h93ljk-MuiTypography-root {
    font-family: 'Courgette', cursive;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
    height: 100%;
    position: relative;
    .css-46bh2p-MuiCardContent-root {
      position: absolute;
      top: 0;
    }
    .css-1jgmn5n-MuiTypography-root {
      font-style: italic;
    }
  }
  .css-r40f8v-MuiTypography-root {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}