.card__story {
  .css-h93ljk-MuiTypography-root {
    font-family: 'Courgette', cursive;
    -webkit-line-clamp: 4;
  }
  .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
    height: 100%;
    position: relative;
    .css-h93ljk-MuiTypography-root {
      position: absolute;
      top: 20px;
      left: 12px;
      padding-right: 5px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .css-46bh2p-MuiCardContent-root {
      margin-top: 20px;
      padding-top: 0;
    }
    .css-r40f8v-MuiTypography-root {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}

@media (max-width: 950px) {
  .card__story {
    .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
      .css-46bh2p-MuiCardContent-root {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 650px) {
  .card__story {
    .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
      .css-46bh2p-MuiCardContent-root {
        margin-top: -20px;
      }
    }
  }
}