.card__series {
  .css-r40f8v-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .css-h93ljk-MuiTypography-root {
    font-family: 'Courgette', cursive;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
    height: 100%;
    position: relative;
    .css-o69gx8-MuiCardMedia-root {
      position: absolute;
      top: 0;
    }
    .css-46bh2p-MuiCardContent-root {
      margin-top: 155px;
    }
  }
}