.page__comics {
  .css-wjh20t-MuiPagination-ul {
    justify-content: end;
    padding: 15px 0;
  }
}

@media (max-width: 900px) {
  .page__comics {
    .css-1xgjpwf-MuiGrid-root {
      margin-left: -7px;
    }
  }
}

@media (max-width: 600px) {
  .page__comics {
    .css-1xgjpwf-MuiGrid-root {
      margin-left: -14px;
    }
  }
}